In [ ]:
### London_House.ipynb
### Adi Tonangi

### Objective: which boroughs of Metro London have seen the 
### greatest increase in housing prices,on average, over the 
### last two decades(2000-03-01 thru 2020-03-01)

### Gets the house prices from UK website, after data wrangling creates
### a file : Boroughs_Meansr.csv (Each Borough  Mean price for 20 years )

import pandas as pd
import matplotlib.pyplot as plt 
import numpy as np

     ### Step-1.... get data from https: site in UK
url_LondonHousePrices = ('https://data.london.gov.uk/download/uk-house-price-index/70ac0766-8902-4eb5-aab5-01951aaed773/UK%20House%20price%20index.xls')     
df = pd.read_excel(url_LondonHousePrices, sheet_name='Average price') 
print(df.head(30), '<--  Head(30) right after df from uk website')
print(df.tail(30), '<--  tail(30) right after df from uk website')
print(df.shape, '<--  right after df from uk website')

     ### Step-2....Select for the past 20 years : 2000-03=01 thru 2020-03-01
     ### (303 rows/Monthly Avg,Price, 49 columns/Boroughs) with NaNs
df1 = df.iloc[63:304, :]   ### 0 thru 303 rows  before 2000-03-01
     ### All 49 (columns : boroughs  selected ( some NaNs )

        
     ### Step-3....Tranpose rows into columns & vice versa
     ### and drop those columns before period of interest(before 20000--3-01
df1_T = df.T  ### transposed
df2_T = df1_T.drop(df1_T.iloc[:, 1:63], axis = 1) 

     ### removes rows and columns with NaN(missing) values.
df2_T = df1_T.dropna()   ### drop rows at least one element missing
        
     ###  df2_T = df2_T.loc[:, df2_T.notnull().all()]   ### select without NaNs
     ### print(duplicatedRows)  ### no duplicate rows found
 
print(df2_T.isna().sum(),'<--print(df2_T.isna().sum()')
print(df2_T.isnull().sum(),'<--print(df2_T.isnull().sum()') ### Nulls-NaNs
     
    ### for each borough, mean prices over past 20 years sorted by price & rounded

mean241 = df2_T.iloc[ :, 1:242].mean(axis=1)   ### gets the Avg, over 20 yrs
mean241s = mean241.sort_values(ascending=False, inplace=False, kind='quicksort', na_position='last', ignore_index=False)

mean241sr = round(mean241s,0)   ### rounded to zero decimals
print(mean241sr.head(), '<--print(mean241sr.head()................')
print(mean241sr.tail(), '<--print(mean241sr.tail()................')

mean241sr = mean241sr.reset_index() ### series-->dataframe, & lets nameTheColumns
mean241sr.columns = ['Boroughs', 'Avg_Over_20_Yrs_In_$']
    
print(mean241sr.head(), '<--  head() before unnamed drop')
mean241sr = mean241sr.drop(mean241sr.loc[:, mean241sr.columns.str.contains('Unnamed: 0') ], axis=1,inplace=False)    
print(mean241sr.head(), '<--  head() after unnamed drop')    
    
mean241sr.to_csv("Boroughs_Meansr.csv")